// Body
$body-bg: #edf0f0;
$border-width: 0px;

$input-bg: rgba(0,0,0,.03);

$material-bg: #263238;

$pink: rgba(241, 60, 110, 0.8);
$purple: rgba(97, 92, 168, 0.8);
$blue: rgba(28, 168, 221, 0.8);
$green: rgba(51, 184, 108, 0.8);

// Radius
$border-radius: .4rem;
$border-radius-lg: .5rem;
$border-radius-sm: .6rem;

//Navbar
$navbar-padding-y: 16px;

// Typography
$font-family-sans-serif: "Source Sans Pro", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Settings
$enable-gradients: true;
